<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<section id="about-us">
        <div class="container">
            <table style="width:100%">
                <tr>
                    <th rowspan="3">
                        <div class="center wow fadeInDown" style="padding-top:10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
                            <p class="lead">"Llega un momento en que es necesario abandonar las ropas usadas que ya tienen la forma de nuestro cuerpo y olvidar los caminos que nos llevan siempre a los mismos lugares. Es momento de la travesía. Y, si no osamos emprenderla nos abremos quedado siempre al margen de nosotros mismos" -Fernando Pessoa</p>
                        </div>
                    </th>
                    <th  style="padding-top:10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
                         <img  width="225" height="125" src="images/servicios/tindividual.jpg">
                    </th>
                </tr>
                <tr>
                    <th style="padding-top:10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
                        <img class="img-responsive" width="300" height="200" src="images/servicios/tfamiliar.jpg">
                    </th>
                </tr>
                <tr>
                    <th style="padding-top:10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
                        <img class="img-responsive" width="300" height="200" src="images/servicios/arteterapia.webp">
                    </th>
                </tr>
            </table>
        </div><!--/.container-->
    </section><!--/#partner-->

    <section id="feature" class="transparent-bg">
      <div class="container">
        <div class="col-sm-6" >
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcapac.psico%2F%3Ffref%3Dts&tabs=timeline&width=400&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <a href="https://twitter.com/CAPAC_PSICO" class="twitter-follow-button" data-show-count="TRUE" data-size="large" data-dnt="true">Follow @CAPAC_PSICO</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="col-sm-6">
          <section id="main-slider" class="no-margin">
            <div class="carousel slide">
              <center>
                <h1 style="color:#4e4e4e;">¡Nuestro próximo evento!</h1>
              </center>
              <img src="{{evento.img}}" class="img-responsive">
            </div>
          </section>
        </div>
      </div><!--/.container-->
    </section><!--/#feature-->

    <section id="content" class="shortcode-item">
      <div class="container">
        <div class="row">
          <!--<div class="col-xs-12 col-sm-7">
          </div>-->
          <div class="col-xs-12 col-sm-10 col-md-offset-1">
            <h2>Servicios</h2>
            <div class="accordion">
              <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                  <div class="panel-heading active">
                    <h3 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                        Terapia Individual
                        <i class="fa fa-angle-right pull-right"></i>
                      </a>
                    </h3>
                  </div>

                  <div id="collapseOne1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="media accordion-inner">
                        <div class="media-body">
                          <p>La terapia Individual es un proceso que se da entre el psicólogo y el consultante en donde se establece una relación encaminda a escuchar, acompañar, contener, aportar y dar otros puntos de vista para el consultante, que comúnmente acude cuando sus problématicas de vida lo han rebasado, pero también puede ser una herramienta de autoconocimienyo y desarrollo personal.
                            <a href="/servicios">Leer más</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                        Terapia Familiar y/o de pareja
                        <i class="fa fa-angle-right pull-right"></i>
                      </a>
                    </h3>
                  </div>

                  <div id="collapseTwo1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="media-body">
                        <p>La terapia familiar y/o de pareja es un enfoque que analiza los vínculos establecidos al interior del núcleo familiar, para ello analiza las interacciones de las familias y sus miembros en situaciones de la vida cotidiana.
                          Si por algún motivo consideras que tu relación familiar o con tu contexto ha impactado en ti generando un malestar o bien, si sientes que puedes mejorar los vínculos en la familia, es momento de buscar ayuda ¡Acércate a nosotros!
                        </p>
                        <p>El enfoque de la Terapia Familiar aborda a la unidad familiar como un sistema en interacción,que presenta crisis y transiciones a lo largo del ciclo vital ...
                          <a href="/servicios">Leer más</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                            <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#txt3">
                                  Talleres artísticos con enfoque terapéutico
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="txt3" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="media-body">
                                    <p>Ofrecemos talleres artísticos con enfoque terapéutico.
                                        <ul>
                                            <li>Danza </li>
                                            <li>Teatro </li>
                                            <li>Música </li>
                                            <li>Pintura </li>
                                        </ul>
                                    <br>
                                    El arte puede ser usado como un puente que ayude a la persona a expresar sus sentimientos y emociones más profundos, así como a liberar y hacer conscientes las herramientas de afrontamiento personales.
                                    </p>
                                    <a href="/servicios">Leer más</a>
                                  </div>
                              </div>
                            </div>
                          </div>

                            <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#txt4">
                                  Talleres psicoeducativos
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="txt4" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <div class="media-body">
                                    <p>
                                        <ul>
                                            <li> Perspectiva de género </li>
                                            <li> Informativos sobre padecimientos y salud mental</li>
                                            <li> Sensibilización a necesidades especiales</li>
                                        </ul>
                                    <a href="/servicios">Leer más</a>
                                    </p>
                                  </div>
                              </div>
                            </div>
                          </div>


                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#txt5">
                                  Consultoría y desarrollo organizacional
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="txt5" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="media-body">
                                      <p>
                                        <ul>
                                            <li> Talleres de Desarrollo Humano para empresas y organizaciones </li>
                                            <li> Asertividad</li>
                                            <li> Manejo del estrés</li>
                                            <li>Inteligencia emocional</li>
                                        </ul>
                                      <a href="/servicios">Leer más</a>
                                    </p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div><!--/#accordion1-->
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
        <br>
    </section><!--/#content-->
