<section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>¿Quienes somos?</h2>
				<p class="lead JUSTIFY"> Somos un grupo multidisciplinario enfocado en la promoción de la salud mental y la intervención terapeútica
				<br> Trabajamos bajo diferentes enfoques teóricos pues estamos convencidos de que cada persona es única y las diferencias individuales
				<br>requieren diferentes propuestas de intervención psicológica, por ello trabajamos en conjunto para brindarte la mejor atención. </p>
			</div>

			<div class="get-started center wow fadeInDown">
                <h2>Alianza CAPAC</h2>
                <p class="lead">Nuestro compromiso es brindar la mejor atención, por ello nuestro modelo de trabajo incluye establecer alianzas <br>
                con otros profesionales de la salud, para brindar a cada persona una atención especializada y acorde a sus necesidades.</p>
                <div class="request">
                    <h4><a href="contacto.jsp">¡Contactenos!</a></h4>
                </div>

                </div><!--/.get-started-->

		</div><!--/.container-->

</section>
