<section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Nuestros Servicios</h2>
                <p class="lead">Ofrecemos diferentes servicios, todos ellos enfocados a la salud mental, física y emocional, de niños adolescentes y adultos,<br>
                contamos con terapia individual, familiar, de pareja, así como talleres para la promoción de la salud, algunos utilizando el arte <br>
                como un puente para el crecimiento emocional. También ofrecemos talleres de desarollo humano para empresas interesadas <br>
                en la calidad de vida de sus trabajadores. </p>
            </div>


            <div class="row">
                <div class="col-xs-9 col-sm-9">

                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">Terapia Individual</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">Terapia familiar y de pareja</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Talleres artísticos con enfoque terapéutico</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Talleres psicoeducativos</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Consultoría y desarrollo organizacional</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">

                                            </div>
                                            <div class="media-body">

                                                <h4>Terapia Individual</h4>
                                                <p>La terapia individual se centra en los malestares personales, en la vida hay muchas situaciones que nos “mueven el piso” y nos rebasan en recursos para afrontar a superar la situación. En esta modalidad, se busca encontrar nuevas respuestas a viejos problemas, así como, mejores respuestas problemas nuevos.
                                                <br>
                                                Si en algún momento, te has sentido fuera de lugar, en situaciones que no comprendes o que te invaden ideas, percepciones o emociones que incomodan, molestan o duelen, puede ser momento de intentar esta opción, contáctanos.
                                                <br>
                                                ¡Contamos con terapia individual para niños, adolescentes y adultos!
                                                </p>
                                                 <img class="img-responsive" width="250" height="400" src="images/servicios/tindividual.jpg">
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane  in" id="tab2">
                                        <div class="media">
                                            <div class="media-body">
                                                 <h4>Terapia familiar y de pareja</h4>
                                                 La terapia familiar y/o de pareja es un enfoque que analiza los vínculos establecidos al interior del núcleo familiar, para ello analiza las interacciones de las familias y sus miembros en situaciones de la vida cotidiana.
                                                 <br>
                                                Si por algún motivo consideras que tu relación familiar o con tu contexto ha impactado en ti generando un malestar o bien, si sientes que puedes mejorar los vínculos en la familia, es momento de buscar ayuda ¡Acércate a nosotros!
                                                 <img class="img-responsive" width="250" height="400" src="images/servicios/tfamiliar.jpg">
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane" id="tab3">
                                         <div class="media">
                                            <div class="media-body">
                                                <H4>Talleres artísticos con enfoque terapéutico</H4>
                                                En CAPAC contamos con talleres que se basan en manifestaciones artísticas con fines terapéuticos, usando la danza, el teatro, la pintura etc. Se utiliza el arte como un puente que en muchos casos permite que las personas se expresen y simbolicen sus malestares y conflictos. A través del arte se logra también un conocimiento integral de la persona y el hecho de que la misma actividad ya lleve al individuo a actuar, moverse, hacer, hace más sencillo que las personas hagan cambios de comportamiento para su bienestar.
                                                <img class="img-responsive" width="250" height="400" src="images/servicios/taeterapeutico.jpg">
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane" id="tab4">
                                         <div class="media">
                                            <div class="media-body">
                                                <H4>Talleres psicoeducativos</H4>
                                                <p>La información es muy importante para decidir y a veces nos ayuda a pasar mejor una situación. En CAPAC tenemos claro que para vivir mejor, también es necesario empoderar a las personas para que tengan toda la información que necesitan sobre los temas que les preocupan.

                                                   Con base en ello, el Centro brinda opciones a sus usuarias y usuarios, tenemos talleres informativos sobre salud mental, género, manejo de emociones y sensibilización sobre necesidades especiales. Acércate al Centro y vive la experiencia CAPAC, infórmate, fórmate y decide, vuélvete la mejor versión de ti misma(o).
                                                   </p>
                                                   <img class="img-responsive" width="250" height="400" src="images/servicios/tpsicoeducativos.jpg">
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane" id="tab5">
                                         <div class="media">
                                            <div class="media-body">
                                                <H4>Consultoría y desarrollo organizacional</H4>
                                                <p>CAPAC es una comunidad de conocimiento, al interior del Centro se construye un espacio, donde se valora el trabajo en equipo, se respetan las diferencias, trabajamos por mejorar nuestras prácticas valorando y fomentando el reconocimiento de las personas que integramos nuestro espacio.

                                                   A partir de nuestra experiencia y teniendo como base la constante formación de nosotras y nosotros, brindamos un proceso de construcción y mejora de instituciones, organizaciones, equipos y comunidades de trabajo. Construimos “trajes a la medida” para las necesidades de cada espacio, para ello se fomenta una fuerte vinculación que permita una postura conjunta al momento del diagnóstico, la intervención y el seguimiento de cada proceso de intervención.

                                                   ¡Bríndanos la oportunidad de apoyarte en tu organización!
                                               </p>
                                               <img class="img-responsive" width="250" height="400" src="images/servicios/cdorganizacional.jpg">
                                            </div>
                                        </div>
                                     </div>
                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->
            <div class="col-md-3 col-sm-3">
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">

                                <div class="media-body">
                                    <h4></h4>
                                    <h5></h5>

                                </div>
                            </div><!--/.media -->
                            <p>¡Existen muchos mitos sobre la atención psicológica! que es "para locos" que es un lujo inecesario, que no funciona. La realidad es que la salud mental impacta en todos los ámbitos de la vida, sentimental, familiar, laboral etc. y aquél que hace un esfuerzo para mejorar emocional, mental y físicamente esta haciendo una importante inversión en su vida. </p>
                        </div>
                    </div><!--/.col-lg-4 -->
                    <div class="container">
        </div><!--/.container-->
    </section><!--/#feature-->
